<h1>User Edit Page</h1>
<form ng-submit="userEdit.usersUpdate()">
  <div class="">
    <label>Username</label>
    <input type="text" name="username" value="" ng-model="userEdit.user.username">
  </div>

  <div class="">
    <label>First Name</label>
    <input type="text" name="first_name" value="" ng-model="userEdit.user.first_name">
  </div>

  <div class="">
    <label>Last Name</label>
    <input type="text" name="last_name" value="" ng-model="userEdit.user.last_name">
  </div>

  <div class="">
    <label>Email</label>
    <input type="text" name="email" value="" ng-model="userEdit.user.email">
  </div>

  <button>Submit</button>
</form>
