<h1>Profile Page</h1>
<div>
  <div>
    <div>Username: {{ usersProfile.user.username }}</div>
    <div>Full Name: {{ usersProfile.user.full_name }}</div>
    <div>Email: {{ usersProfile.user.email }}</div>
    <br>
  </div>
</div>
<button class="btn-primary" ui-sref="usersEdit">Edit</button>

<h2>Your Plates:</h2>
<table class="table table-strpied">
  <thead>
  <tr>
    <th>PLATE</th>
    <th>MEANING</th>
    <th>PRICE</th>
    <th>START DATE</th>
    <th>EXPIRY DATE</th>
    <th>RESERVE</th>
  </tr>
  </thead>

    <tbody ng-repeat="plate in usersProfile.user.plates">
      <tr>
        <td>{{plate.plate}}</td>
        <td>{{plate.meaning}}</td>
        <td>{{plate.sell_price}}</td>
        <td>{{plate.start_date}}</td>
        <td>{{plate.expiry_date}}</td>
        <td>{{plate.reserve}}</td>
      </tr>
    </tbody>

</table>
<br>
<button class="btn-primary" ui-sref="platesNew">Add Plate</button>

<h2>Your Bids:</h2>
<div ng-repeat="bid in usersProfile.user.bids">
  <!-- <div>{{usersProfile.user.bids}}</div> -->
  <div>Plate: {{bid.plate.plate}}</div>
  <div>Bid: {{bid.amount}}</div>
  <div>Sell Price: {{bid.plate.sell_price}}</div>
  <br>
</div>
