<h1>Profile Page</h1>
<div>
  <div>
    <div>Username: {{ usersProfile.user.username }}</div>
    <div>Full Name: {{ usersProfile.user.full_name }}</div>
    <div>Email: {{ usersProfile.user.email }}</div>
    <br>
  </div>
</div>

<h2>Your Plates:</h2>
<div ng-repeat="plate in usersProfile.user.plates">
  <div>{{plate.plate}}</div>
  <div>{{plate.meaning}}</div>
  <div>{{plate.sell_price}}</div>
  <div>{{plate.start_date}}</div>
  <div>{{plate.expiry_date}}</div>
  <div>{{plate.reserve}}</div>
  <br>
</div>
<div class=""><a ui-sref="platesNew">Add Plate</a></div>

<h2>Your Bids:</h2>
<div ng-repeat="bid in usersProfile.user.bids">
  <!-- <div>{{usersProfile.user.bids}}</div> -->
  <div>Plate: {{bid.plate.plate}}</div>
  <div>Bid: {{bid.amount}}</div>
  <div>Sell Price: {{bid.plate.sell_price}}</div>
  <br>
</div>
