<!-- <h1>HOME</h1> -->

<!-- First Parallax Image with Logo Text -->
<!-- <div class="w3-container homepageSlantedDiv">
  <div class="w3-display-container" style="height:100vh;">
    <div class="w3-display-middle w3-center w3-padding-large w3-black w3-xlarge w3-wide" style="white-space:nowrap; height:15vh;">APNAPLATES<span><br>Number Plate Auction</span></div>
  </div>
</div> -->


<div class="video-background homepageSlantedDiv">
  <div class="">
    <iframe src="https://www.youtube.com/embed/PrqYohBV58o?controls=0&showinfo=0&rel=0&autoplay=1&loop=1&playlist=W0LHTWG-UmQ" frameborder="0" allowfullscreen></iframe>
  </div>
  <div class="w3-display-container" style="height:100vh;">
    <!-- <div class="w3-display-middle w3-center w3-padding-large w3-black w3-xlarge w3-wide" style="white-space:nowrap; height:15vh;">APNAPLATES<span><br>Number Plate Auction</span></div> -->
  </div>
</div>

<div class="w3-container w3-display-topmiddle aplogo">
  <div class="w3-center w3-padding-large w3-black w3-xlarge w3-wide" style="white-space:nowrap;">APNAPLATES<span><br>Number Plate Auction</span></div>
</div>

<!-- Ken Block drifiting in London -->
<!-- <iframe width="640" height="360" src="https://www.youtube.com/embed/PrqYohBV58o" frameborder="0" allowfullscreen></iframe> -->

<!-- Novitec F12 Grey -->
<!-- <iframe width="640" height="360" src="https://www.youtube.com/embed/OMDuugbdWfc" frameborder="0" allowfullscreen></iframe> -->

<!-- Novitec F12 -->
<!-- <iframe width="640" height="360" src="https://www.youtube.com/embed/0vUvaAUzOcc" frameborder="0" allowfullscreen></iframe> -->

<!-- <iframe width="640" height="360" src="https://www.youtube.com/embed/nYUm1lPfjDk" frameborder="0" allowfullscreen></iframe> -->

<!-- <iframe width="640" height="360" src="https://www.youtube.com/embed/FKu4v_boJ3o" frameborder="0" allowfullscreen></iframe> -->

<!-- <iframe width="640" height="360" src="https://www.youtube.com/embed/NCKwXNB18jQ" frameborder="0" allowfullscreen></iframe> -->

<!-- <iframe width="640" height="360" src="https://www.youtube.com/embed/PrqYohBV58o" frameborder="0" allowfullscreen></iframe> -->

<!-- https://www.youtube.com/embed/W0LHTWG-UmQ?controls=0&showinfo=0&rel=0&autoplay=1&loop=1&playlist=W0LHTWG-UmQ -->
