<div class="w3-container w3-display-middle">
  <br>
  <div class="w3-display-topmiddle">
    <h1 class="w3-animate-zoom">Register</h1>
  </div>
  <br><br>
  <div class="">
    <div class="">
      <form name="auth.registerForm" ng-submit="auth.register()" novalidate>

        <div class="input-group">
          <span class="input-group-addon"><i class="glyphicon glyphicon-user"></i></span>
          <input class="form-control" type="text" name="username" ng-model="auth.user.username" required placeholder="Username">
        </div>
        <br>

        <div class="ng-message-error" ng-messages="auth.registerForm.username.$error" ng-show="(auth.registerForm.username.$submitted || auth.registerForm.username.$touched)">
          <p ng-message="required">Your username is required.</p>
        </div>

        <div class="input-group">
          <span class="input-group-addon"><i class="glyphicon glyphicon-user"></i></span>
          <input class="form-control" type="text" name="firstName" ng-model="auth.user.first_name" required placeholder="First Name">
        </div>
        <br>

        <div class="ng-message-error" ng-messages="auth.registerForm.firstName.$error" ng-show="(auth.registerForm.firstName.$submitted || auth.registerForm.firstName.$touched)">
          <p ng-message="required">Your first name is required.</p>
        </div>

        <div class="input-group">
          <span class="input-group-addon"><i class="glyphicon glyphicon-user"></i></span>
          <input class="form-control" type="text" name="secondName" ng-model="auth.user.second_name" required placeholder="Last Name">
        </div>
        <br>

        <div class="ng-message-error" ng-messages="auth.registerForm.secondName.$error" ng-show="(auth.registerForm.secondName.$submitted || auth.registerForm.secondName.$touched)">
          <p ng-message="required">Your second name is required.</p>
        </div>

        <div class="input-group">
          <span class="input-group-addon"><i class="glyphicon glyphicon-envelope"></i></span>
          <input class="form-control" type="text" name="email" ng-model="auth.user.email" required placeholder="Email">
        </div>
        <br>

        <div class="ng-message-error" ng-messages="auth.registerForm.email.$error" ng-show="(auth.registerForm.email.$submitted || auth.registerForm.email.$touched)">
          <p ng-message="required">Your email is required.</p>
        </div>

        <div class="input-group">
          <span class="input-group-addon"><i class="glyphicon glyphicon-lock"></i></span>
          <input class="form-control" type="password" name="password" ng-model="auth.user.password" required placeholder="Password">
        </div>
        <br>

        <div class="ng-message-error" ng-messages="auth.registerForm.password.$error" ng-show="(auth.registerForm.password.$submitted || auth.registerForm.password.$touched)">
          <p ng-message="required">Your password is required.</p>
        </div>

        <div class="input-group">
          <span class="input-group-addon"><i class="glyphicon glyphicon-lock"></i></span>
          <input class="form-control" type="password" name="passwordC" ng-model="auth.user.password_confirmation" required placeholder="Password Confirmation">
        </div>
        <br>

        <div class="ng-message-error" ng-messages="auth.registerForm.passwordC.$error" ng-show="(auth.registerForm.passwordC.$submitted || auth.registerForm.passwordC.$touched)">
          <p ng-message="required">Your password confirmation is required.</p>
        </div>

        <button class="btn btn-primary">Register</button>
      </form>
    </div>
  </div>
</div>
