<!DOCTYPE html>
<html ng-app="plateAuction">
  <head>
    <base href="/">
    <meta charset="utf-8">
    <title>APNAPLATES Plate Auction</title>
    <!-- inject:js -->
    <!-- endinject -->
    <!-- inject:css -->
    <!-- endinject -->
  </head>
  <header ng-controller="MainCtrl as main" ng-class="main.pageName">

  </header>

  <body>
    <nav class="navbar navbar-default" role="navigation">
      <button type="button" class="navbar-toggle" ng-click="main.isNavCollapsed = !main.isNavCollapsed">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>

      <div class="">
        <a class="navbar-brand" ui-sref="home">APNAPLATES</a>
      </div>

      <div class="collapse navbar-collapse" uib-collapse="main.isNavCollapsed">
        <ul class="nav navbar-nav">
          <li ng-if="!main.isAuthenticated()"><a ui-sref="login" ui-sref-active="active">Login</a></li>
          <li ng-if="!main.isAuthenticated()"><a ui-sref="register" ui-sref-active="active">Register</a></li>
          <li ng-if="main.isAuthenticated()"><a ng-click="main.logout()" href="#">Logout</a></li>
          <li ng-if="main.isAuthenticated()"><a ui-sref="usersProfile({ id: main.currentUser.id })" ui-sref-active="active">Profile</a></li>
          <li><a ui-sref="platesIndex" ui-sref-active="active">Auction</a></li>
        </ul>
      </div>
    </nav>

  <div class="message" ng-if="main.message">
    <div class="container">{{main.message}}</div>
  </div>

    <div class="container">
      <main ui-view></main>
      <!-- <h1>APNAPLATES</h1>
      <h2>Number Plate Auction</h2> -->
    </div>
  </body>
</html>
