<h1>Plate Edit Page</h1>
<br>
<form name="platesEdit.editPlate" ng-submit="platesEdit.platesUpdate()" novalidate>

  <div class="input-group">
    <!-- <label>Username</label> -->
    <span class="input-group-addon">Username:</span>
    <input class="form-control" type="text" name="username" value="" ng-model="platesEdit.plate.plate" required placeholder="Username">
  </div>
  <br>

  <div class="input-group">
    <!-- <label>Meaning</label> -->
    <span class="input-group-addon">Meaning:</span>
    <input class="form-control" type="text" name="meaning" value="" ng-model="platesEdit.plate.meaning" required placeholder="Meaning">
  </div>
  <br>

  <div class="input-group">
    <!-- <label>Price</label> -->
    <span class="input-group-addon"><i class="glyphicon glyphicon-gbp"></i> Sell Price:</span>
    <input class="form-control" type="text" name="price" value="" ng-model="platesEdit.plate.sell_price" required placeholder="Sell Price">
  </div>
  <br>

  <div class="input-group">
    <!-- <label>Start Date</label> -->
    <span class="input-group-addon"><i class="glyphicon glyphicon-calendar"></i></span>
    <input class="form-control" type="text" name="startDate" value="" ng-model="platesEdit.plate.start_date" required placeholder="Start Date">
  </div>
  <br>

  <div class="input-group">
    <!-- <label>Expiry Date</label> -->
    <span class="input-group-addon"><i class="glyphicon glyphicon-calendar"></i></span>
    <input class="form-control" type="text" name="expiryDate" value="" ng-model="platesEdit.plate.expiry_date" required placeholder="Expiry Date">
  </div>
  <br>

  <div class="input-group">
    <!-- <label>Reserve</label> -->
    <span class="input-group-addon"><i class="glyphicon glyphicon-gbp"></i> Reserve:</span>
    <input class="form-control" type="text" name="reserve" value="" ng-model="platesEdit.plate.reserve" required placeholder="Reserve">
  </div>
  <br>


  <button class="btn btn-primary">Submit</button>
</form>
