<h1>Auction Listings</h1>

<!-- <h1>Plates</h1> -->
<h4>PLATE - MEANING - SELL PRICE - START DATE - STATUS - RESERVE - EXPIRY DATE</h4>
<div ng-repeat="plate in plates.plate">
  <!-- <h3>{{ plate.plate }}</h3>
  <h3>{{ plate.meaning }}</h3>
  <h3>{{ plate.sell_price }}</h3>
  <h3>{{ plate.start_date }}</h3>
  <h3>{{ plate.status }}</h3>
  <h3>{{ plate.reserve }}</h3>
  <h3>{{ plate.expiry_date }}</h3> -->

  <h4><a ui-sref="platesShow({ id: plate.id })">{{ plate.plate }} - {{ plate.meaning }} - {{ plate.sell_price }} - {{ plate.start_date }} - {{ plate.status }} - {{ plate.reserve }} - {{ plate.expiry_date }}</a></h4>
</div>
