<h1>Add New Plate</h1>
<form name="platesNew.newPlate" ng-submit="platesNew.create()" novalidate>
  <br>
  <div ng-show="platesNew.new.plate" class="plate">{{platesNew.new.plate}}</div>
  <!-- ng-class="{changed: myForm.myInput.$dirty}" -->
  <br>
  <div class="">
    <label>Plate</label>
    <input type="text" name="plate" value="" ng-model="platesNew.new.plate" required>
  </div>

  <div class="ng-message-error" ng-messages="platesNew.newPlate.plate.$error" ng-show="(platesNew.newPlate.$submitted || platesNew.newPlate.plate.$touched)">
    <p ng-message="required">Your plate is required.</p>
  </div>

  <div class="">
    <label>Meaning</label>
    <input type="text" name="meaning" value="" ng-model="platesNew.new.meaning" required>
  </div>

  <div class="ng-message-error" ng-messages="platesNew.newPlate.meaning.$error" ng-show="(platesNew.newPlate.$submitted || platesNew.newPlate.meaning.$touched)">
    <p ng-message="required">The meaning for your plate is required.</p>
  </div>

  <div class="">
    <label>Sell Price</label>
    <input type="text" name="sell_price" value="" ng-model="platesNew.new.sell_price" required>
  </div>

  <div class="ng-message-error" ng-messages="platesNew.newPlate.sell_price.$error" ng-show="(platesNew.newPlate.$submitted || platesNew.newPlate.sell_price.$touched)">
    <p ng-message="required">The price is required.</p>
  </div>

  <div class="">
    <label>Start Date</label>
    <input type="date" name="start_date" value="" ng-model="platesNew.new.start_date" required>
  </div>

  <div class="ng-message-error" ng-messages="platesNew.newPlate.start_date.$error" ng-show="(platesNew.newPlate.$submitted || platesNew.newPlate.start_date.$touched)">
    <p ng-message="required">The start date is required.</p>
  </div>

  <div class="">
    <label>Status</label>
    <input type="text" name="status" value="" ng-model="platesNew.new.status" required>
  </div>

  <div class="ng-message-error" ng-messages="platesNew.newPlate.status.$error" ng-show="(platesNew.newPlate.$submitted || platesNew.newPlate.status.$touched)">
    <p ng-message="required">The status can be either Live, Pending or Sold and is required.</p>
  </div>

  <div class="">
    <label>Reserve</label>
    <input type="text" name="reserve" value="" ng-model="platesNew.new.reserve" required>
  </div>

  <div class="ng-message-error" ng-messages="platesNew.newPlate.reserve.$error" ng-show="(platesNew.newPlate.$submitted || platesNew.newPlate.reserve.$touched)">
    <p ng-message="required">The reserve is required.</p>
  </div>

  <div class="">
    <label>Expiry Date</label>
    <input type="date" name="expiry_date" value="" ng-model="platesNew.new.expiry_date" required>
  </div>

  <div class="ng-message-error" ng-messages="platesNew.newPlate.expiry_date.$error" ng-show="(platesNew.newPlate.$submitted || platesNew.newPlate.expiry_date.$touched)">
    <p ng-message="required">The expiry date is required.</p>
  </div>

  <button class="btn btn-default">Submit</button>
</form>
