<h1>Add New Plate</h1>
<form ng-submit="platesNew.create()">
  <div class="">
    <label>Plate</label>
    <input type="text" name="plate" value="" ng-model="platesNew.new.plate">
  </div>

  <div class="">
    <label>Meaning</label>
    <input type="text" name="meaning" value="" ng-model="platesNew.new.meaning">
  </div>

  <div class="">
    <label>Sell Price</label>
    <input type="text" name="sell_price" value="" ng-model="platesNew.new.sell_price">
  </div>

  <div class="">
    <label>Start Date</label>
    <input type="text" name="start_date" value="" ng-model="platesNew.new.start_date">
  </div>

  <div class="">
    <label>Status</label>
    <input type="text" name="status" value="" ng-model="platesNew.new.status">
  </div>

  <div class="">
    <label>Reserve</label>
    <input type="text" name="reserve" value="" ng-model="platesNew.new.reserve">
  </div>

  <div class="">
    <label>Expiry Date</label>
    <input type="text" name="expiry_date" value="" ng-model="platesNew.new.expiry_date">
  </div>

  <button class="btn btn-default">Submit</button>
</form>
