<div class="w3-container w3-display-middle">
  <br>
  <h1 class="w3-display-topmiddle">Add New Plate</h1>
  <form name="platesNew.newPlate" ng-submit="platesNew.create()" novalidate>
    <br>
    <br>
    <div ng-show="platesNew.new.plate" class="plate black">{{platesNew.new.plate}}</div>
    <!-- ng-class="{changed: myForm.myInput.$dirty}" -->
    <br>
    <div class="input-group">
      <span class="input-group-addon"><i class="glyphicon glyphicon-pencil"></i></span>
      <input class="form-control" type="text" name="plate" value="" ng-model="platesNew.new.plate" ng-maxlength="9" ng-minlength="2" required placeholder="Plate">
    </div>
    <br>

    <div class="ng-message-error" ng-messages="platesNew.newPlate.plate.$error" ng-show="(platesNew.newPlate.$submitted || platesNew.newPlate.plate.$touched)">
      <p ng-message="required">Your plate is required.</p>
      <p ng-message="maxlength">Your plate has to have 9 or less characters.</p>
      <p ng-message="minlength">Your plate has to have 2 or more characters.</p>
    </div>

    <div class="input-group">
      <span class="input-group-addon"><i class="glyphicon glyphicon-chevron-right"></i></span>
      <input class="form-control" type="text" name="meaning" value="" ng-model="platesNew.new.meaning" required placeholder="Meaning">
    </div>
    <br>

    <div class="ng-message-error" ng-messages="platesNew.newPlate.meaning.$error" ng-show="(platesNew.newPlate.$submitted || platesNew.newPlate.meaning.$touched)">
      <p ng-message="required">The meaning for your plate is required.</p>
    </div>

    <div class="input-group">
      <span class="input-group-addon"><i class="glyphicon glyphicon-gbp"></i></span>
      <input class="form-control" type="text" name="sell_price" value="" ng-model="platesNew.new.sell_price" required placeholder="Sell Price">
    </div>
    <br>

    <div class="ng-message-error" ng-messages="platesNew.newPlate.sell_price.$error" ng-show="(platesNew.newPlate.$submitted || platesNew.newPlate.sell_price.$touched)">
      <p ng-message="required">The price is required.</p>
    </div>

    <div class="input-group">
      <span class="input-group-addon"><i class="glyphicon glyphicon-calendar"></i></span>
      <input class="form-control" type="text" name="start_date" value="" ng-model="platesNew.new.start_date" required placeholder="Start Date">
    </div>
    <br>

    <div class="ng-message-error" ng-messages="platesNew.newPlate.start_date.$error" ng-show="(platesNew.newPlate.$submitted || platesNew.newPlate.start_date.$touched)">
      <p ng-message="required">The start date is required.</p>
    </div>

    <div class="input-group">
      <span class="input-group-addon"><i class="glyphicon glyphicon-question-sign"></i></span>
      <input class="form-control" type="text" name="status" value="" ng-model="platesNew.new.status" required placeholder="Status eg Live, Pending or Sold">
    </div>
    <br>

    <div class="ng-message-error" ng-messages="platesNew.newPlate.status.$error" ng-show="(platesNew.newPlate.$submitted || platesNew.newPlate.status.$touched)">
      <p ng-message="required">The status can be either Live, Pending or Sold and is required.</p>
    </div>

    <div class="input-group">
      <span class="input-group-addon"><i class="glyphicon glyphicon-hourglass"></i></span>
      <input class="form-control" type="text" name="reserve" value="" ng-model="platesNew.new.reserve" required placeholder="Reserve">
    </div>
    <br>

    <div class="ng-message-error" ng-messages="platesNew.newPlate.reserve.$error" ng-show="(platesNew.newPlate.$submitted || platesNew.newPlate.reserve.$touched)">
      <p ng-message="required">The reserve is required.</p>
    </div>

    <div class="input-group">
      <span class="input-group-addon"><i class="glyphicon glyphicon-calendar"></i></span>
      <input class="form-control" type="text" name="expiry_date" value="" ng-model="platesNew.new.expiry_date" required placeholder="Expiry Date">
    </div>
    <br>

    <div class="ng-message-error" ng-messages="platesNew.newPlate.expiry_date.$error" ng-show="(platesNew.newPlate.$submitted || platesNew.newPlate.expiry_date.$touched)">
      <p ng-message="required">The expiry date is required.</p>
    </div>

    <button class="btn btn-primary">Submit</button>
  </form>
</div>
