<div class="w3-container">
  <div class="w3-display-topmiddle">
    <br>
    <h1 class="gcentre w3-animate-zoom">Auction Plate Show</h1>
    <br>
    <h2 class="gcentre">Make your bid on:</h2>
    <br>
    <div class="gcentre"><span class="plateThree">{{platesShow.plate.plate}}</span></div>
    <br><br>
    <form class="gcentre" ng-submit="platesShow.addBid()">
      <input type="number" ng-model="platesShow.bid.amount">
      <button class="btn btn-primary">BID NOW</button>
    </form>
    <br>
    <div class="gcentre"><timer end-time="platesShow.plate.expiry_date">{{days}} days, {{hours}} hours, {{minutes}} minutes, {{seconds}} seconds.</timer></div>
    <br><br>

    <!-- {{ platesShow.plate }} -->
    <table st-table="plates.plate" class="w3-table w3-white w3-hover-green">
      <thead>
      <tr class="w3-red">
        <th>PLATE</th>
        <th>MEANING</th>
        <th>PRICE</th>
        <th>START DATE</th>
        <th>STATUS</th>
        <th>RESERVE</th>
        <th>EXPIRY DATE</th>
      </tr>
      </thead>
      <tbody>
        <tr>
          <td>{{ platesShow.plate.plate }}</td>
          <td>{{ platesShow.plate.meaning }}</td>
          <td>{{ platesShow.plate.sell_price }}</td>
          <td>{{ platesShow.plate.start_date }}</td>
          <td>{{ platesShow.plate.status }}</td>
          <td>{{ platesShow.plate.reserve }}</td>
          <td>{{ platesShow.plate.expiry_date }}</td>
        </tr>
      </tbody>
    </table>


    <br>
    <div class="gcentre">
      <h4>Current Bids:</h4>
      <br>
      <div ng-repeat="bid in platesShow.plate.bids">
        <div class="text-capitalize"><span class="blue">{{ bid.user.username }}</span> - <span class="badge">£ {{ bid.amount }}</span></div>
        <!-- <div>£ {{ bid.amount }}</div> -->
        <br>
      </div>
    </div>
  </div>

</div>
